<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.UserMapper">

    <!--新增用户-->
    <insert id="save">
        insert into user(name, username, age, sex, phone, address)
        values(#{name}, #{username}, #{age}, #{sex}, #{phone}, #{address})
    </insert>

    <!--修改用户-->
    <update id="updateById">
        update user set name = #{name},age = #{age},sex = #{sex}, phone = #{phone}, address = #{address},updateTime=#{updateTime} where id = #{id}
    </update>

    <!--删除用户-->
    <delete id="deleteById">
        delete from user where id =#{id};
    </delete>

    <!--查询列表-->
    <select id="list" resultType="com.example.springboot.entity.User">
        select * from User ;
    </select>

    <!--分页条件查询-->
    <select id="listByCondition" resultType="com.example.springboot.entity.User">
        select * from user
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{ name }, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone  like concat('%', #{ phone }, '%')
            </if>
        </where>
        order by id asc
    </select>

    <!--根据用户id获取用户信息-->
    <select id="getById" resultType="com.example.springboot.entity.User">
        select * from user where id=#{id}
    </select>

</mapper>